body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,rgb(34, 1, 34),rgb(2, 2, 52));
}

.nav-items li{
  list-style: none;
  color: white;
  font-weight: 800;
  font-size: 20px;

}
.none{
  text-decoration: none;
}

.nav-items{
  height: 45px;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.owais{
  color: rgb(115, 25, 115);
}
.pera{
  font-size: medium;
  color: whitesmoke;
}
.head{
  color: whitesmoke;
}
.hero{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.btn{
  color: whitesmoke;
  border-radius: 8px;
  border: 2px solid rgb(115, 25, 115);
  background-color: transparent;
  width: 100px;
  padding: 8px;
  font-weight: bold;
  margin-top: 20px;
}
.btn:hover{
  background-color: rgb(4, 4, 39);
  border: 2px solid rgb(2, 2, 80);
  color: purple;
}
.heroLeft{
  width: 350px;
}
.content{
  color: whitesmoke;
  line-height: 22px;
}
.mypic{
  border-radius: 50%;
  border: 8px solid rgb(3, 3, 48);
  outline: 8px solid rgb(40, 2, 40);
}
.icone{
  font-size: 1.4rem;
  width: 50px;
  border: 2px transparent rgb(4, 4, 46);
  border-radius: 50%;
  padding: 8px;
  color: white;
}
.iconeItems{
  margin-top: 20px;
  color: whitesmoke;
  
}
.icone:hover{
  background-color: purple;
  color:rgb(1, 1, 42);
  transition: all 2s ease-in linear;
}
.owaisq{
  color: purple;
  text-align: center;
}
.aboutContent{
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
}
.about{
  color: whitesmoke;
  line-height: 40px;
  font-size: large;
  padding: 20px;
  width: 500px;
  
}
.mypic-about{
  border: 8px solid rgb(3, 3, 48);
  outline: 8px solid rgb(40, 2, 40);
}
.heroRight2{
  margin-top: 30px;
}
.btn2{
  color: whitesmoke;
  border-radius: 8px;
  border: 2px solid rgb(115, 25, 115);
  background-color: transparent;
  width: 100px;
  padding: 8px;
  font-weight: bold;
}
.btn2:hover{
  background-color: rgb(4, 4, 39);
  border: 2px solid rgb(2, 2, 80);
  color: purple;
}
.btndiv{
  margin-left: 160px;
}

.mailbox{
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 500px;
  box-shadow: 3px 1px 5px 5px rgb(217, 55, 217);
  margin: 0px auto;
  margin-top: 30px;
}
.text{
  width: 50%;
  padding: 15px;
  background-color: transparent;
  color: whitesmoke;
  margin: 10px;
  border: 2px solid purple;
  font-family: 'Courier New', Courier, monospace;
}
.submit{
  padding: 8px;
  background-color: purple;
  border: none;
  color: white;
  width: 100px;
  border-radius: 5px;
}
/* mobile Navbar */
.navItems li{
  color: white;
  padding: 15px;
}
.dot{
  list-style: none;
  text-decoration: none;
}

@media (max-width:600px) {
  .responce{
   display: none;
  }
  
  .hero{
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .heroRight{
    margin-top: 50px;
    width: 400px;
  }

  .mypic{
    width: 220px;
  }
  .heroRight2{
    margin-top: 70px;
    width: 400px;
  }
  .aboutContent{
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .mypic-about{
    width: 220px;

  }
  .mailbox{
    height: 550px;
    margin-top: 80px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    margin: 20px;
  }
  .none{
    display: none;
  }
  .responce{
    display: block;
  }
  .slidernavbar{
    display: none;
  }
}

@media (min-width: 1200px) {
  .none{
    display: none;
  }
  .responce{
    display: block;
  }
  .slidernavbar{
    display: none;
  }
}
